<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.da.usercenter.mapper.UserMapper">


    <!-- 根据队伍id查询已加入的用户信息 -->
    <select id="getUserListByTeamId" resultType="com.da.usercenter.model.entity.User">
        select u.*
        from user_team ut
                 join user u on u.id = ut.user_id
        where ut.is_delete = 0
          and u.is_delete = 0
          and team_id = #{teamId};
    </select>
</mapper>
